.logo {
  max-height: 100px;
}

.navigation {
  background-color: #f2dc5d;
}

.navButton,
.navButton > a {
  background-color: #f2a359 !important;
  border-radius: 15px !important;
  color: black !important;
}

.navButtonActive,
.show .nav.item,
.navButton:hover,
.navButton:hover > a {
  background-color: #e19248 !important;
  color: black !important;
}

.navButtonActive {
  text-decoration: underline !important;
}

.dropdown-menu {
  background-color: #f2dc5d !important;
}

.navbar-toggler {
  color: #f2a359 !important;
  border-color: #f2a359 !important;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28242, 163, 89, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-collapse {
  align-items: normal !important;
}

.NavLinkActive {
  text-decoration: underline !important;
  color: royalblue !important;
}

@media only screen and (max-width: 767px) {
  .navButton,
  .navbar-nav > .navButton {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 8px !important;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .logoutButton {
    margin-top: 24px !important;
  }
}
