.paginationElement,
.pagination > li > a,
.pagination > li > span {
  background-color: #fff7db !important;
  border-color: #696969 !important;
}

.selector:active,
.selector:focus,
.pagination > li > a:active,
.pagination > li > span:active,
.pagination > li > a:focus,
.pagination > li > span:focus {
  box-shadow: 0px 0px 16px 0px rgba(242, 163, 89, 1) !important;
}

.pagination > li > a,
.pagination > li > a:hover,
.pagination > li > a:focus {
  color: black;
}

.pagination > li > span {
  color: #8b8b8b !important;
}

.pagination > li > a,
.pagination > li > span {
  padding: 0 4px 0 4px;
}

.paginationIcon {
  font-size: 24px;
}
