html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 56px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#spinner {
  margin: 0 auto;
}

.logo {
  max-height: 100px;
}

.navigation {
  background-color: #f2dc5d;
}

.navButton,
.navButton > a {
  background-color: #f2a359 !important;
  border-radius: 15px !important;
  color: rgb(105, 105, 105) !important;
}

.navButtonActive,
.show .nav.item,
.navButton:hover,
.navButton:hover > a {
  background-color: #e19248 !important;
  color: black !important;
}

.navButtonActive {
  text-decoration: underline !important;
}

.dropdown-menu {
  background-color: #f2dc5d !important;
}

.navbar-toggler {
  color: #f2a359 !important;
  border-color: #f2a359 !important;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28242, 163, 89, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-collapse {
  align-items: normal !important;
}

.NavLinkActive {
  text-decoration: underline !important;
  color: royalblue !important;
}

@media only screen and (max-width: 767px) {
  .contentText {
    padding-top: 32px;
  }

  .navButton,
  .navbar-nav > .navButton {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 8px !important;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .logoutButton {
    margin-top: 24px !important;
  }

  .formContent {
    max-width: 100% !important;
  }
}

.mainContent {
  background-color: #eee2a0;
  padding: 5%;
  border-radius: 30px;
}

.fextField {
  border-color: #696969 !important;
}

.fextField:focus {
  border-color: #696969 !important;
  background-color: #fff7db !important;
  box-shadow: 0px 0px 24px 0px rgba(242, 163, 89, 1) !important;
}

.formContent {
  max-width: 60%;
}

.button {
  border-color: #f2a359 !important;
}

.button:active,
.button:focus {
  box-shadow: 0px 0px 16px 0px rgba(242, 163, 89, 1) !important;
  background-color: #e19248 !important;
  color: black !important;
}

.addNoteInput {
  max-width: 40%;
}

.addNoteTitle {
  max-width: 60%;
}

.accordionHeader {
  display: flex;
  justify-content: space-between;
}

.displayedInput {
  white-space: pre-line;
}

.addTemplateList {
  list-style-type: none;
  width: 100%;
  text-align: center;
}

.addTemplateList li {
  border: black solid 1px;
  padding: 8px 32px 8px 32px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
